body{
    background-color: rgb(133, 203, 238);
}
p{
    font-family: fantasy;
}

.citation{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.5em;
}

#intro{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img{
    width: 45%;
}